<div class="login_page">
  <div class="login_page_contents">
    <h1 class="login_page_contents_title">新たな出会いを見つけよう</h1>
    <%= link_to "メールアドレスでログインする", new_user_session_path, class: "btn login_page_contents_btn" %>
  </div>
</div>
